/* CSS para todas las páginas */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color:rgb(240,245,250);
} 
.navbar-collapse {
    flex-grow: initial;
}
.nav-item a  {
    color: rgb(240,245,250);
    font-size: 1.3rem;
}
.footer {
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.footer__div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: flex-start;
}
.footer__div__img {
    width: 20%;
}
.footer__div span {
    color: rgb(52, 60, 70);
    font-size: 0.8rem;
}
.footer__ul {
    display: flex;
    list-style: none;
}
.footer__ul li {
    margin-left: 15%;
}  
.footer__ul__li__a {
    color: rgb(57,110,176);
    padding: auto;
    font-size: 3rem;
}
.footer__ul__li__a i:hover {
    transform: rotate(10deg);
    color: rgb(96, 115, 139);
}
/* Index */

main {
    width: 100%;
}
.main__div {
    width: 80%;
    height: 50vh;
    background-color: rgb(225,234,245);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.fotoportada1 {
    width: 100%;
}

.Contenedor_cards {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}
.tituloPrincipal {
    font-size: 35px;
    font-weight: 900;
    font-style: oblique;
    background: linear-gradient(90deg, rgb(3, 3, 3) 0%, rgb(60, 76, 224) 47%, rgb(69, 83, 92) 94%);
    -webkit-background-clip: text;
    background-clip: text ;
    color:transparent;
    text-align: center;
    margin-bottom: 20px;
}
.main__div__p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
}
.btn {
    background-color: rgb(96,115,139);
    color: rgb(7, 47, 95);
}
.offcanvas-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
}
.offcanvas-body {
    background-color: rgb(225, 234, 245);
}
.offcanvas-body p {
    font-style: italic;
    font-size: 1,2rem;
    font-weight: 500;
}
.card-title {
    text-transform: uppercase;
    font-size: 1,2rem;
    color: rgb(7, 47, 95);
}
.cardlink {
    text-decoration: none;
    color: rgb(96, 115, 139);

}
/* Productos */
.productos__main h1,
.ubicacion__main h1,
.tutoriales__main h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
    color:rgb(32, 32, 173);
    font-weight: 600;
}

.card:hover {
    box-shadow: 5px 5px 10px rgb(96,115,139);
}

/* Tutoriales */
.video {
    width: 100%;
    height: 400px;
}



/* UBICACION */

.ubicacion__main__section {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.ubicacion__main__section__div a {
    color: rgb(8, 42, 114);
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
}
/* CONTACTO */

.contacto__main__section {
    display: flex;
    justify-content: space-evenly;
}
.contacto__main__section__img {
    width: 300px;
    padding-left: 20px;
}
.contacto__main__form__div {
    color: #b4b4bb;
    font-weight: 500;
    margin-top: 40px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    margin-left: 40%;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 10px;
    padding: 5px;
} 
.contacto__main__form__div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}
.contacto__main__form__label {
    padding: 10px;
}
.contacto__main__form__input {
    height: 25px;
    width: 200px;
}
.contacto__main__form__textarea {
    height: 200px;
}
/* Media Querie 991px */
@media screen and (max-width: 992px) {
    .nav-item a  {
        font-size: 0.8rem;
    }
}

/* Media Querie 768px */

@media screen and (max-width: 768px) {
    .img-logo {
        width: 50%;
    }
    .nav-item a  {
        font-size: 0.6rem;
    }
    .main__index__article h1 {
        font-size: 32px;
    }
    .main__index__article__section h2,
    .main__index__article__section2 h2,
    .productos__main h1,
    .tutoriales__main h1,
    .ubicacion__main h1,
    .contacto__main h1 {
        font-size: 24px;
        text-shadow: 1px 1px rgb(107, 157, 223);
    }
    .main__index__article__section p {
        font-size: 14px;
    }
    .main__index__article__section2__div2__ul li {
        font-size: 14px;
    }
    .footer__ul li,
    .footer__sinGrid__ul {
        font-size: 32px;
    } 
    .footer__img,
    .footer__sinGrid__div__img {
        width: 70%;
    }
    .footer__div span,
    .footer__sinGrid__div span {
        font-size: 10px;
    }
    .productos__main__section1 {
        grid-template-columns: repeat(3,150px);
        grid-template-rows: repeat(4,200px);
    }
    .productos__main__section1__img {
        width: 130px;
    }
    .productos__main__section1__article p {
        font-size: 15px;
    }
    .header__nav__ul {
        margin-right: 5%;
    }
    .tutoriales__main__section {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(6, 80px);
        grid-gap: 1% 1%;
    }
    .ubicacion__main__section iframe {
        width: 320px;
        height: 213px;
    }
    .ubicacion__main__section__div p {
        font-size: 12px;
    }
}
/* Media Querie 320px */

@media screen and (max-width: 320px) {
    .main__index__article__section h2,
    .main__index__article__section2 h2,
    .productos__main h1,
    .tutoriales__main h1,
    .ubicacion__main h1,
    .contacto__main h1 {
        font-size: 15px;
        text-shadow: 1px 1px rgb(107, 157, 223);
    }
    .main__index__article__section p {
        font-size: 7px;
    }
    .main__index__article__section2__div2__ul li {
        font-size: 5px;
    }
    .footer__ul li {
        font-size: 16px;
    } 
    .footer__img {
        width: 40%;
    }
    .footer__div span {
        font-size: 5px;
    }
    .productos__main__section1 {
        grid-template-columns: repeat(2,100px);
        grid-template-rows: auto;
    }
    .productos__main__section1__img {
        width: 80px;
    }
    .productos__main__section1__article p {
        font-size: 8px;
    }
    .header__nav__ul {
        margin-right: 5%;
    }
    .tutoriales__main__section {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(6, 50px);
        grid-gap: 1% 1%;
    }
    .ubicacion__main__section iframe {
        width: 200px;
        height: 100px;
    }
    .ubicacion__main__section__div p {
        font-size: 8px;
    }
    .contacto__main__section__img {
        display: none;
    }
    .contacto__main__form__div {
        margin-top: 20px;
        width: fit-content;
        height: fit-content;
        font-size: 12px;
        margin-left: 10%;
        padding: 2px;
    } 
    .contacto__main__form__label {
        padding: 5px;
    }
    .contacto__main__form__input {
        height: 25px;
        width: 200px;
    }
    .contacto__main__form__textarea {
        height: 150px;
    }
}
