/* CSS para todas las páginas */
* {
    margin:0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: rgb(230,200,171);
    background: linear-gradient(90deg, rgba(230,200,171,1) 0%, rgba(94,56,150,1) 46%, rgba(8,48,56,1) 100%);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
} 

.body__index {
    display: grid;
    grid-template-areas: 
    "Encabezado Encabezado"
    "Lateral Principal" 
    "Pie Pie";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px 1fr 150px; 
} 
header {
    grid-area: Encabezado;
    width: 100%;
}
.header__nav {
    display: flex;
    width: 95%;
}

.header__nav a {
    width: 20%;
}
.header__nav__img {
    width: 100%;
    margin-left: 20px;
}
.header__nav__ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.header__nav__ul li {
    text-decoration: none;
    padding: 1%;
    font-weight: 600;
}
.header__nav__ul li a {
    text-decoration: none;
    color:rgb(179, 139, 219);
    transition:  0.6s all ease-in-out;
    font-size: 26px;
    font-style: italic;
}

.header__nav__ul li a:hover {
    color:rgb(247, 168, 21);
}
/* Index */
.article__aside {
    grid-area: Lateral;
    width: 100%;
}

.article__aside h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.article__aside__ul {
    list-style: none;
    text-align: center;
    margin-top: 5%;
}

.article__aside__ul li {
    font-size: 22px;
    font-weight: 800;
    padding-top: 15%;
    color:rgb(39, 99, 11);
}
main {
    width: 98%;
}
.main__index__article {
    grid-area: Principal;
    width: 100%;
} 
.main__index__article h1 {
    font-size: 70px;
    font-weight: 600;
    font-style: oblique;
    color: rgb(253, 253, 253);
    text-align: center;
    text-shadow: 2px 3px rgb(72, 14, 104);
    margin-bottom: 50px;
}
.main__index__article__section2 {
    width: 100%;
}
.main__index__article__section h2,
.main__index__article__section2 h2,
.productos__main h1 {
    text-align: center;
    margin: 2% auto;
    font-size: 56px;
    font-weight: 600;
    color: rgb(15, 15, 14);
    text-transform: uppercase;
    text-shadow: 3px 3px rgb(91, 103, 119);
}
.main__index__article__section p {
    text-align:center;
    margin-top: 2%;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
}
.main__index__article__section2__div {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-between;
    align-items: center;
}
.main__index__article__section2__div2__ul {
    list-style: none;
}
.main__index__article__section2__div1__img1,
.main__index__article__section2__div3__img1{
    opacity: 0.8;
    width: 100%;
}
.main__index__article__section2__div2__ul li {
    padding-top: 5%;
    padding-right: 2%;
    font-size: 1.5rem;
    color: rgb(247, 168, 21);
    font-weight: 700;
    text-align:center;
}
.footer {
    grid-area: Pie;
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.footer__div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: flex-start;
}
.footer__div span {
    color: rgb(48, 7, 95);
    font-size: 0.8rem;
}
.footer__ul {
    display: flex;
    list-style: none;
}
.footer__ul li {
    margin-left: 20px;
    font-size: 4rem;
} 
.footer__ul__li__a {
    color: rgb(241, 42, 28);
    padding: auto;
}
/* Media Querie Index */

@media screen and (max-width: 768px) {
    .body__index {
        grid-template-rows: 60px 1fr 85px; 
    } 
    .header__nav__ul li a {
        font-size: 1rem;
    }
    .article__aside h3 {
        font-size: 1rem;
    }
    .article__aside__ul li {
        font-size: 0.8rem;
    }
    .main__index__article h1 {
        font-size: 2rem;
    }
    .main__index__article__section h2,
    .main__index__article__section2 h2 {
    font-size: 1.5rem;
    text-shadow: 1px 1px rgb(107, 157, 223);
    }
    .main__index__article__section p {
        font-size: 0.8rem;
    }
    .main__index__article__section2__div2__ul li {
        font-size: 0.8rem;
    }
    .footer__ul li {
        font-size: 2rem;
    } 
    .footer__img {
        width: 70%;
    }
    .footer__div span {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 320px) {
    .body__index {
        grid-template-rows: 25px 1fr 50px; 
    } 
    .header__nav__ul li a {
        font-size: 0.5rem;
    }
    .article__aside h3 {
        font-size: 0.7rem;
    }
    .article__aside__ul li {
        font-size: 0.3rem;
    }
    .main__index__article h1 {
        font-size: 0.8rem;
    }
    .main__index__article__section h2,
    .main__index__article__section2 h2 {
    font-size: 0.9rem;
    text-shadow: 1px 1px rgb(107, 157, 223);
    }
    .main__index__article__section p {
        font-size: 0.4rem;
    }
    .main__index__article__section2__div2__ul li {
        font-size: 0.3rem;
    }
    .footer__ul li {
        font-size: 1rem;
    } 
    .footer__img {
        width: 40%;
    }
    .footer__div span {
        font-size: 0.3rem;
    }
}
/* Productos */

.productos__main__section1 {
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(4,300px);
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: 10px 20px;
}
.productos__main__section1__article {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.productos__main__section1__img {
    width: 200px;
}
.productos__main__section1__img:hover {
    transform: scale(1.8);
}
.productos__main__section1__article p {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
}

.footer__sinGrid {
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}