$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Lato', sans-serif;
$colores:(
    fondo: rgb(240,245,250),
    c1: rgb(52, 60, 70),
    c2: rgb(57,110,176),
    c3: rgb(96, 115, 139),
    c4: rgb(225,234,245),
    c-mainTitle: linear-gradient(90deg, rgb(27, 68, 73) 0%, rgb(107, 117, 207) 47%, rgb(67, 160, 218) 94%),
    c5: rgba(96, 115, 139, 0.774),
    c6: rgb(7, 47, 95),
    c7: rgba(31, 55, 71, 0.8),
    c-nav: orange
);

