@import "../utilities/mixins";
main {
    width: 100%;
}
.main__div {
    width: 80%;
    min-height: 50vh;
    background-color: map-get($colores,c4);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.fotoportada1 {
    width: 100%;
}
.Contenedor_cards {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}
.col {
    h2 {
        text-transform: uppercase;
        @include estilo-tipograf($font-secundaria,1.5rem,600);
        color: map-get($colores,c2);
    }
}
.tituloPrincipal {
    @include estilo-tipograf($font-principal,1.9rem,900);
    font-style: oblique;
    background: map-get($colores,c-mainTitle);
    -webkit-background-clip: text;
    background-clip: text ;
    color:transparent;
    text-align: center;
    margin-bottom: 5%;
}
.main__div__p {
    @include estilo-tipograf($font-secundaria,1.1rem,700);
    margin-bottom: 3%;
}
.btn {
    background-color: map-get($colores,c5);
    color: white;
}
.listadoCateg {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 2%;
    margin-bottom: 3%;
    justify-items: center;
        p {
            background-color: map-get($colores,c1);
            color:map-get($colores,c4);
            @include estilo-tipograf($font-secundaria,1.2rem,400);
            border-radius: 10px;
            height: 2rem;
            width: 100%;
        }
}
.offcanvas-title {
    text-transform: uppercase;
    @include estilo-tipograf($font-principal,1.6rem,600);
}
.offcanvas-body {
    background-color: map-get($colores,c4);
        p {
            font-style: italic;
            @include estilo-tipograf($font-secundaria,1.2rem,500);
        }
}
.card-np:hover {
    box-shadow: 5px 5px 10px map-get($colores,c3);
}
.carousel {
    width: 90%;
    margin: auto;
}
.card-title {
    text-transform: uppercase;
    @include estilo-tipograf($font-secundaria,1.1rem,400);
    color: map-get($colores,c6);
}
@keyframes colores {
    0%{color: #b0adab;}
    33%{color: #0f20b8;}
    66%{color: #b6b30b;}
    100%{color: #13181a;}
}
.cardlink {
    text-decoration: none;
    color: map-get($colores,c3);
        &:hover {
            font-weight: 800;
            color:blue;
                +.card-body__span{
                    display: block;
                    margin-left: 3%;
                    animation-name: colores;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    animation-delay: 0.2s;    
                }         
        }
}
.card-index1 {
    display: flex;
    align-items: center;
}
.card-body__span {
    @include estilo-tipograf($font-secundaria,0.8rem,600);
    display: none;
}
.contenedorLogoPrincipal {
    width: 70%;
    margin: 3% auto;
}
.contenedorSoluciones {
        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
                li{
                    list-style: none;
                        img{
                            width: 100%;
                        }
                }
        }
}