@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    .img-logo {
        width: 35%;
    }
    .listadoCateg {
        p{
            font-size: 0.8rem;
            width: 90%;
        }
    }
    .foot {
        div {
            span {
                font-size: 0.7rem;
            }
        }
    } 
    .ubicacion__main__section {
        iframe {
            width: 320px;
            height: 213px;
        }
    }
}   