@media screen and (max-width: 320px) {
    html {
        font-size: 10px;
    }
    .main__div {
        min-height: 30vh;
    }
    .tituloPrincipal {
        margin-top: 5%;
    }
    .foot {
        div {
            span {
                font-size: 0.6rem;
            }
        }
        
    }
    .ubicacion__main__section { 
        iframe {
            width: 200px;
            height: 100px;
        }
    }
    .contacto__main__section__img {
        display: none;
    }
}