@media screen and (max-width: 425px) {
    html {
        font-size: 12px;
    }
    .video {
        height: 300px;
        width: 90%;
    }
    .img-thumbnail {
        width: 100%;
    }
    .card-descripcion {
        font-size: 1.2rem;
    }
}