@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    .img-logo {
        width: 35%;
    }
    .listadoCateg {
        p{
            font-size: 0.8rem;
            width: 90%;
        }
    }
    .foot {
        div {
            span {
                font-size: 0.7rem;
            }
        }
    } 
    .foot_nav {
        i {
            font-size: 1.5rem;
        }
    }     
    .ubicacion__main__section {
        iframe {
            width: 320px;
            height: 213px;
        }
    }
    .contacto__main__section__img {
        display: none;
    }
}   

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    .columna2 {
        display: none;
    }
    .tituloPrincipal {
        font-size: 3rem;
    }
    .Contenedor_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card1 {
        margin-bottom: 3%;
    }
    .ubicacion__main__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-ubicacion {
        margin: 5% auto;
    }
    .ubicacion__main__section {
        iframe {
            width: 300px;
            height: 190px;
        }
    }
    form {
        width: 50%;
    }
    .card-descripcion {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 12px;
    }
    .main__div {
        min-height: 30vh;
    }
    .main__div__p {
        font-size: 1.5rem;
    }
    .foot_logo {
        display: flex;
        flex-direction: column;
        padding:auto ;
    }
    .video {
        height: 300px;
    }
    .img-thumbnail {
        width: 100%;
    }
    .card-descripcion {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 375px) {
    .productos__main {
        h1{
            font-size: 2rem;
        }
    }
    .foot_nav {
        i {
            font-size: 1rem;
        }
    }     
    .foot_div {
        i {
            font-size: 1.8rem;
        }
    }
}

@media screen and (max-width: 320px) {
    .main__div {
        min-height: 30vh;
    }
    .main__div__p {
        font-size: 1.2rem;
    }
    .tituloPrincipal {
        margin-top: 5%;
    }
    .foot {
        div {
            span {
                font-size: 0.6rem;
            }
        } 
    }
    .ubicacion__main{
        h1 {
            font-size: 2rem;
        }
    }
    .ubicacion__main__section { 
        iframe {
            width: 200px;
            height: 250px;
        }
    }
    .card-ubicacion {
        width: 16rem;
    }
    .contacto__main__section__img {
        display: none;
    }
}