.img-logo {
    width: 80%;
}
.navbar-collapse {
    flex-grow: initial;
}
.nav-item a {
    color:$color-fondo;
    font-size: 1rem;
        &:hover{
            color:$color-nav;
            transform: scale(1.05);
        }
}
.active {
    color:$color-nav !important;
}
