@import "../utilities/mixins";
@import "../utilities/extend";
.tutoriales__main{
    h1{
        @extend .titleDecoration;
    }
}
.row {
    margin: auto;
}
.video {
    width: 100%; 
    height: 400px;
}